/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Define Color panel */

:root {
    --color-Yellow: #ffcd05;
    --color-Black: #0a0500;
    --color-Grey: #f7f7f7;
}

@font-face {
    font-family: "Open_sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Sen";
    src: url(../fonts/Sen-VariableFont_wght.ttf);
}

* {
    font-family: "Open_sans";
}

/* Header section */

header {
    width: 100%;
    height: 895px;
    background-image: url(../img/home-hero-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBar {
    width: 1290px;
    height: 76px;
    position: absolute;
    top: 25px;
    background-color: white;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 18px;
}

.logo img {
    vertical-align: middle;
}

.menuBar .menu nav ul {
    display: flex;
}

.menuBar .menu nav ul li a {
    padding: 28px;
    text-decoration: none;
    color: --var(--color-Black);
    font-size: 15px;
}

.menuBar .menu nav ul li a:hover {
    background-color: var(--color-Yellow);
}

.menuBar .callUs {
    font-size: 15px;
}

.menuBar .callUs span {
    font-weight: 700;
    margin-right: 15px;
}

header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header .title p {
    font-family: "Sen";
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

header .title h1 {
    font-family: "Sen";
    font-size: 70px;
    color: white;
    line-height: 102px;
    white-space: nowrap;
}

header .title h1 span {
    display: block;
}

/* Contact section */

.contact {
    position: absolute;
    width: 1290px;
    height: 250px;
    top: 795px;
    background-color: white;
    padding: 72px 78px;
    z-index: 1;
}

.contact h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 33px;
    font-size: 18px;
}

.contact form {
    display: flex;
    justify-content: space-between;
}

.contact input[type="text"],
.contact input[type="tel"],
.contact select {
    width: 278px;
    height: 55px;
    padding: 0 16px;
    border: none;
    background-color: var(--color-Grey);
}

.contact input[type="text"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="submit"]:hover,
.contact select:hover {
    cursor: pointer;
}

.contact input[type="submit"] {
    background-color: var(--color-Black);
    color: white;
    padding: 14px 40px;
}

/* Services section */

.services {
    width: 100%;
    height: 594px;
    background-color: var(--color-Black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 36px;
}

.services p {
    font-size: 18px;
}

.services .cardContainer {
    position: absolute;
    top: 491px;
    width: 1290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.services .cardContainer .cards {
    width: 412px;
    height: 420px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    border: 2px solid var(--color-Grey);
}

.services .cardContainer .cards h3 {
    margin: 30px 0;
    font-size: 18px;
}

.services .cardContainer .cards p {
    font-size: 15px;
    text-align: center;
    line-height: 26px;
}

.services .cardContainer .cards .price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 56px;
}

/* Call to action buttons */

.call2action {
    width: 1290px;
    margin: 0px auto;
    margin-top: 368px;
    margin-bottom: 130px;
    text-align: center;
}

.call2action button {
    width: 214px;
    height: 56px;
    border: 2px solid black;
    background-color: white;
    margin: 0 10px
}

.call2action button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Section Services description */

.rowContainer {
    width: 1290px;
    margin: 0px auto;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowContainer .description {
    text-align: left;
    width: 40%;
}

.rowContainer .image {
    width: 50%;
}

.rowContainer .description h3 {
    font-size: 32px;
    margin-bottom: 26px;
}

.rowContainer .description p {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 62px;
}

.rowContainer .description li {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 21px;
}

.rowContainer .description li img {
    margin-right: 19px
}

.rowContainer .description button {
    width: 179px;
    height: 56px;
    border: none;
    background-color: black;
    color: white;
}

.rowContainer .description button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 2px solid black;
}

/* HowItWork section */

.howItWorksContainer {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howItWorksContainer>p {
    font-size: 18px;
    margin-bottom: 21px;
}

.howItWorksContainer>h3 {
    font-size: 33px;
}

.howItWorksContainer .howItWorks {
    display: flex;
    justify-content: space-between;
    margin: 56px 0;
}

.howItWorksContainer .howItWorks>div {
    padding: 40px;
    text-align: center;
    width: 33%;
}

.howItWorksContainer .howItWorks>div h3 {
    margin: 20px 0;
}

.howItWorksContainer .howItWorks>div p {
    margin: 20px 0;
}

/* customers Section */

.customersContainer {
    width: 1290px;
    margin: 0 auto;
}

.customersContainer>p {
    font-size: 18px;
}

.customersContainer>h2 {
    font-size: 33px;
    margin: 22px 0;
}

.customersContainer .customers {
    margin: 30px 0;
}

.customersContainer .customers .customerCard {
    width: 407px;
    height: 345px;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--color-Grey);
}

.customersContainer .customers .customerCard .quote {
    color: var(--color-Yellow);
    font-size: 29px;
}

.customersContainer .customers .customerCard .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customersContainer .customers .customerCard .comment p {
    margin-bottom: 40px;
}

.customersContainer .customers .customerCard .comment .identity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customersContainer .customers .customerCard .comment .identityPhoto {
    width: 60px
}

.customersContainer .customers .customerCard .comment .identity .identityName {
    padding-left: 20px;
}

.customersContainer .customers .customerCard .comment .identity .identityName .name {
    font-weight: 700;
}

.customersContainer .customers .customerCard .comment .identity .identityName .function {
    display: block;
}

/* Supporters section */

.supporters {
    width: 1290px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.supporters img {
    width: 180px;
}

/* Customers reviews */

.customersContainer {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customersContainer .customers {
    display: flex;
}

/* Call Us Now section */

.callUsNowContainer {
    width: 100%;
    height: 446px;
    background-image: url(../img/home-contact-section-background.webp);
    position: relative;
}

.callUsNowContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.callUsNowContent p {
    margin-bottom: 30px;
}

.callUsNowContent h1 {
    font-size: 33px;
    line-height: 50px;

}

.callUsNowContent h1 span {
    display: block;
}

.callUsNowContent button {
    width: 177px;
    height: 56px;
}

.callUsNowContent button:hover {
    cursor: pointer;
}

/* Footer section */

footer {
    padding: 100px 0;
}

.container {
    width: 1290px;
    margin: 0 auto;
}

.footerContainer {
    display: flex;
}

.footerContainer .column {
    width: 25%;
    padding: 20px
}

.footerContainer .column .logo {
    margin-bottom: 50px;
}

.footerContainer .column h2 {
    margin-bottom: 20px;
}

.copyright {
    margin-top: 80px;
    text-align: center;
}