/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Define Color panel */

:root {
    --color-Yellow: #ffcd05;
    --color-Black: #0a0500;
    --color-Grey: #f7f7f7;

    --content-width: 1290px;
}

@font-face {
    font-family: "Open_sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Sen";
    src: url(../fonts/Sen-VariableFont_wght.ttf);
}

* {
    font-family: "Open_sans";
}

/* Header section */

header {
    width: 100%;
    height: 895px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    filter: brightness(0.6)-;
    width: 100%;
    height: 100%;
}

.headerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menuBar {
    width: var(--content-width);
    height: 76px;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 5px gray;
    top: 25px;
    background-color: white;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburgermenu,
.menuBar label {
    display: none;
}

.logo {
    font-weight: 600;
    font-size: 18px;
}

.logo img {
    vertical-align: middle;
}

.menuBar .menu nav ul {
    display: flex;
}

.menuBar .menu nav ul li a {
    padding: 28px;
    text-decoration: none;
    color: var(--color-Black);
    font-size: 15px;
}

.menuBar .menu nav ul li a:hover {
    background-color: var(--color-Yellow);
}

.menuBar .rightMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.menuBar .rightMenu .callUs {
    font-size: 15px;
}

.menuBar .rightMenu .callUs span {
    font-weight: 700;
}

header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header .title p {
    font-family: "Sen";
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

header .title h1 {
    font-family: "Sen";
    font-size: 70px;
    color: white;
    line-height: 102px;
    white-space: nowrap;
}

header .title h1 span {
    display: block;
}

/* Contact section */

.contact {
    position: absolute;
    width: var(--content-width);
    height: 250px;
    top: 795px;
    background-color: white;
    padding: 72px 78px;
    z-index: 1;
}

.contact h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 33px;
    font-size: 18px;
}

.contact form {
    display: flex;
    justify-content: space-between;
}

.contact form input[type="text"],
.contact form input[type="tel"],
.contact form select {
    width: 278px;
    height: 55px;
    padding: 0 16px;
    border: none;
    background-color: var(--color-Grey);
}

.contact input[type="text"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="submit"]:hover,
.contact select:hover {
    cursor: pointer;
}

.contact input[type="submit"]:hover {
    color: black;
    background-color: white;
}

.contact input[type="submit"] {
    background-color: var(--color-Black);
    color: white;
    padding: 14px 40px;
}

/* Services section */

.services {
    width: 100%;
    height: 594px;
    background-color: var(--color-Black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services>h2 {
    font-size: 32px;
    margin-bottom: 36px;
}

.services>p {
    font-size: 18px;
}

.services .cardContainer {
    position: absolute;
    top: 491px;
    width: var(--content-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.services .cardContainer .cards {
    width: 412px;
    height: 420px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    border: 2px solid var(--color-Grey);
}

.services .cardContainer .cards h3 {
    margin: 30px 0;
    font-size: 18px;
}

.services .cardContainer .cards p {
    font-size: 15px;
    text-align: center;
    line-height: 26px;
}

.services .cardContainer .cards .price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 56px;
}

/* Call to action buttons */

.call2action {
    width: var(--content-width);
    margin: 0px auto;
    margin-top: 368px;
    margin-bottom: 130px;
    text-align: center;
}

.call2action button {
    width: 214px;
    height: 56px;
    border: 2px solid black;
    background-color: white;
    margin: 0 10px
}

.call2action button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Section Services description */

.rowContainer {
    width: var(--content-width);
    margin: 0px auto;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowContainer .description {
    text-align: left;
    width: 40%;
}

.rowContainer .image {
    width: 50%;
}

.rowContainer .description h3 {
    font-size: 32px;
    margin-bottom: 26px;
}

.rowContainer .description p {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 62px;
}

.rowContainer .description li {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 21px;
}

.rowContainer .description li img {
    margin-right: 19px
}

.rowContainer .description button {
    width: 179px;
    height: 56px;
    border: none;
    background-color: black;
    color: white;
}

.rowContainer .description button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 2px solid black;
}

/* HowItWork section */

.howItWorksContainer {
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howItWorksContainer>p {
    font-size: 18px;
    margin-bottom: 21px;
}

.howItWorksContainer>h3 {
    font-size: 33px;
}

.howItWorksContainer .howItWorks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 56px 0;
}

.howItWorksContainer .howItWorks>div {
    padding: 40px;
    text-align: center;
    border: 2px solid var(--color-Grey);
    width: 409px;
    height: 313px;
}

.howItWorksContainer .howItWorks>div h3 {
    margin: 20px 0;
}

.howItWorksContainer .howItWorks>div p {
    margin: 20px 0;
}

/* Customers reviews */

.customersContainer {
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customersContainer>p {
    font-size: 18px;
}

.customersContainer>h2 {
    font-size: 33px;
    margin: 22px 0;
}

.customersContainer .customers {
    width: 100%;
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
}

.customersContainer .customers .customerCard {
    width: 407px;
    height: 345px;
    display: flex;
    border: 2px solid var(--color-Grey);
}

.customersContainer .customers .customerCard .quote {
    color: var(--color-Yellow);
    font-size: 29px;
}

.customersContainer .customers .customerCard .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 45px;
}

.customersContainer .customers .customerCard .comment p {
    margin-bottom: 40px;
}

.customersContainer .customers .customerCard .comment .identity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customersContainer .customers .customerCard .comment .identityPhoto {
    width: 60px
}

.customersContainer .customers .customerCard .comment .identity .identityName {
    padding-left: 20px;
}

.customersContainer .customers .customerCard .comment .identity .identityName .name {
    font-weight: 700;
}

.customersContainer .customers .customerCard .comment .identity .identityName .function {
    display: block;
}

/* Supporters section */

.supporters {
    width: var(--content-width);
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.supporters img {
    width: 180px;
}

/* Call Us Now section */

.callUsNowContainer {
    width: 100%;
    height: 446px;
    position: relative;
}

.callUsNowImage {
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
}

.callUsNowImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.callUsNowContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--content-width);
    color: white;
    display: flex;
    justify-content: space-between;
}

.callUsNowContent .rightside {
    display: flex;
    flex-direction: column-reverse;

}

.callUsNowContent p {
    margin-bottom: 30px;
}

.callUsNowContent h1 {
    font-size: 33px;
    line-height: 50px;
}

.callUsNowContent h1 span {
    display: block;
}

.callUsNowContent button {
    width: 177px;
    height: 56px;
}

.callUsNowContent button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Footer section */

footer {
    background-color: var(--color-Grey);
    padding-top: 100px;
    padding-bottom: 25px;
}

.container {
    width: var(--content-width);
    margin: 0 auto;
}

.footerContainer {
    display: flex;
}

.footerContainer .column {
    width: 25%;
    padding: 20px
}

.footerContainer .column .logo {
    margin-bottom: 50px;
}

.footerContainer .column h2 {
    margin-bottom: 20px;
}

.footerContainer .column p {
    line-height: 25px;
    margin-bottom: 20px;
}

.footerContainer .column i {
    background-color: var(--color-Grey);
    border-radius: 50%;
    margin: 0 10px;
}

.footerContainer .column li {
    margin: 10px 0;
}

.footerContainer .column a {
    text-decoration: none;
    color: var(--color-Black);
}

.footerContainer .column li:hover,
.footerContainer .column a:hover {
    font-weight: 700;
    cursor: pointer;
}

.socialNetworks {
    display: flex;
    gap: 10px;
}

.socialNetworks .bcglogo {
    width: 35px;
    height: 35px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialNetworks .bcglogo:hover {
    border: 2px solid darkgray;
    cursor: pointer;
}

.copyright {
    margin-top: 80px;
    text-align: center;
}

@media screen and (max-width: 1320px) {
    :root {
        --content-width: 94%;
    }

    .rowContainer {
        align-items: stretch;
    }

    .rowContainer .description {
        width: 50%;
    }

    .rowContainer .image {
        width: 45%;
    }

    .rowContainer .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-items: center;
    }

    .contact form input[type="text"],
    .contact form input[type="tel"],
    .contact form select {
        width: 24%;
    }

    .contact input[type="submit"] {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .services>h2 {
        text-align: center;
        width: 94%;
    }

    .services>p {
        text-align: center;
        width: 94%;
    }

    .services .cardContainer .cards {
        padding: 2rem;
        width: 32%;
        height: unset;
    }

}

@media screen and (max-width: 576px) {

    :root {
        --content-width: 95%;
    }

    header .title p {
        font-size: 1rem;
    }

    header .title h1 {
        font-size: 2rem;
        line-height: 3rem;
        white-space: unset;
    }

    .menuBar {
        padding: 0 1rem;
    }

    .menuBar .menu {
        display: none;
    }

    .menuBar label {
        display: block;
    }

    .menuBar .callUs {
        display: none;
    }

    .contact {
        height: unset;
        padding: 2rem 2rem;
    }

    .contact h2 {
        font-size: 1.2rem;
    }

    .contact form {
        flex-direction: column;
        gap: 1rem;
    }

    .contact form input[type="text"],
    .contact form input[type="tel"],
    .contact form select,
    .contact input[type="submit"] {
        width: 100%;
    }


    .services {
        padding-top: 19rem;
        padding-bottom: 4rem;
        height: unset;
        flex-direction: column;
    }

    .services>h2 {
        width: 95%;
        font-size: 2rem;
    }

    .services>p {
        width: 95%;
        font-size: 1.0rem;
        padding-bottom: 4rem;
    }

    .services .cardContainer {
        position: static;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .services .cardContainer .cards {
        padding: 2rem;
        width: 80%;
        height: unset;
    }

    .services .cardContainer .cards .price {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .call2action {
        margin-top: 3rem;
    }

    .call2action button {
        width: unset;
        padding: 1rem 1rem;
        margin: 0.5rem;
    }

    .rowContainer {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .rowContainer .description,
    .rowContainer .image {
        width: 100%;
    }

    .rowContainer .description button {
        margin-bottom: 3rem;
    }

    .howItWorksContainer>p {
        font-size: 1rem;
    }

    .howItWorksContainer>h3 {
        font-size: 1.5rem;
    }

    .howItWorksContainer .howItWorks {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .howItWorksContainer .howItWorks>div {
        padding: 2rem;
        width: 80%;
        height: unset;
    }

    .customersContainer>p {
        font-size: 1.3rem;
    }

    .customersContainer>h2 {
        font-size: 2rem;
    }

    .customersContainer .customers {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .customersContainer .customers .customerCard {
        width: 80%;
    }

    .supporters {
        width: 90%;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .supporters img {
        width: 9rem;
    }

    .callUsNowContent p {
        font-size: 1.2rem;
    }

    .callUsNowContent h1 {
        font-size: 1.7rem;
    }

    .callUsNowContent button {
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        white-space: nowrap;
    }

    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .footerContainer {
        flex-direction: column;
    }

    .footerContainer .column {
        width: 100%;
        padding: 0;
        padding-bottom: 1rem;
    }

    .copyright {
        margin: 1rem 0;
    }
}